<% include ../partials/header.ejs %>

<div class="viewport-container">

    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-8 offset-md-2 text-center">
                <div class="card mt-3">
                    <div class="card-block">
                        <h3 class="card-title">
                        	<%= location.name %>
                        </h3>
                        <p class="text-lg card-text mt-3">
                            Seats: <%= location.peopleMax %> People<br>
                            <%- location.description %>
                        </p>
                        <div class="option-buttons">
                            <% if(user && user.isAdmin){ %>  
                                <a href="/locations/<%= location._id %>/edit" class="btn btn-block btn-primary">Edit Location</a>
                                <form method="post" action="/locations/<%= location._id %>/delete">
                                    <button type="submit" class="btn btn-block btn-danger" disabled>Delete Location</button>
                                </form>
                            <% } %>
                        </div>
                    </div><!-- .card-block -->
                </div><!-- .card -->   
            </div><!-- .col -->     
        </div><!-- .row -->                      
    </div>

</div>

<% include ../partials/footer.ejs %>